.idea/
.buildpath
.project
.settings
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

Runtime/
node_modules/

www/header.inc-local.php
Baifenbao/Common/Conf/local/
Baifenbao/
mobile/
www/Public/
www/Api
